/* Fichier CSS pour EmployeeForm.tsx */

/* Les styles .custom-card-header ont été supprimés car gérés par index.css */

/* Bouton "Créer" personnalisé avec votre couleur */
.btn-custom-primary {
  background-color: #cfbd97;
  color: #000000; /* Texte noir */
  border: 1px solid #cfbd97;
  padding: 0.5rem 1.5rem;
}

.btn-custom-primary:hover {
  background-color: #bfae86; /* Une version un peu plus foncée au survol */
  border-color: #bfae86;
  color: #000000;
}