/* src/components/shared/RecentClaimsWidget.css */
.list-group-item {
  background-color: var(--card-bg) !important;
  color: var(--text-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
  padding: 1rem 1.5rem;
}
.list-group-item:last-child {
  border-bottom: none !important;
}

.list-group-item:hover {
  background-color: #F9FAFB !important; /* Fond gris clair au survol */
}

.list-group-item h6 {
  color: var(--primary-color) !important;
  font-weight: 600;
}